venv
.env
.vscode/
etc

# remove the dataset for now due to large file error
*.csv
*.pkl
*.npz
*.npy
data/models/suicide_bert_final/
data/models/suicide_bert_final.zip
project_structure.txt
results.txt